/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.5;
    background: url("https://raw.githubusercontent.com/chocolateflight/chocolateflight.github.io/main/resources/images/BACKGROUND.png") aquamarine;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.main-container {
    display: grid;
    gap: 10px;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px black;
    max-width: 1200px;
    min-height: 935px;
    height: 100vh;
    grid-template-rows: 70px 300px auto 70px;
    overflow:hidden;
}

/* NavBar */
.navbar {
    border-bottom: 1px solid darkgrey;
}
.navbar .container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    max-height: 70px;

}

.navbar .container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;

    height: 100%;
    padding: 5px 10px;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: darkgrey
}

/* Header */

header .container {
    background-color: red;
    height: 300px;
}

/* Main Section */
.mainsection {
    display: grid;
    gap: 10px;
    grid-template-columns: 5fr minmax(200px, 2.5fr);
    grid-template-areas: "content side";
    height: 100%;
}

/* Sidebar */
.sidebar {
    grid-area: side;
    text-align: center;
    background-color: aqua;
}

.sidebar img {
    border-radius: 50%;
    width: 100%;
}

/* Content */
.content {
    grid-area: content;
    background-color: yellow;
}



/* Footer */
footer .container {
    height: 100%;
    background-color: green;
}
