/* Universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;;
}

/* ---------------------------------------------- */

/* Fonts */
/* roboto-100 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts//roboto-v29-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin-100.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v29-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
  }

/* ---------------------------------------------- */

/* HTML */
html {
    font-size: 16px;
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------------------------------- */

/* Page */
#page {
    display: flex;
    flex-direction: column;
}

/* ---------------------------------------------- */

/* Header */
header {
    display: block;
    align-content: center;
    background-color: white;
    padding: 0 10%;
    position: fixed; /* Added to support older browsers */
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    z-index: 999;

}

#menu {
    min-height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu .main-menu {
    transition: background-color .6s ease
}

#menu .main-menu:hover {
    background-color: lightgrey;
}

#menu .main-menu img {
    margin: 1.25rem;
    height: 20px;
}

#menu .logo img {
    height: 60px;
}

@media only screen and (max-width: 410px) {
    header {
        padding: 0;
    }
}

/* ---------------------------------------------- */

/* Main */
#main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ---------------------------------------------- */

/* Introduction */
#main #intro {
    display: flex;
    position: relative;
    height: 35rem;
}

#main #intro::before {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url(/resources/images/introduction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% -300px;
    background-attachment: fixed;
    opacity: 0.75;
}

#main h1 {
    position: relative;
}

/* ---------------------------------------------- */

/* About Me */
#main #about {
    background-color: yellow;
    height: 28rem;
}

/* ---------------------------------------------- */

/* Projects */
#main #projects {
    background-color: orange;
    height: 28rem;
}

/* ---------------------------------------------- */

/* CV */
#main #cv {
    background-color: blue;
    height: 28rem;
}

/* ---------------------------------------------- */

/* Socials */
#main #socials {
    background-color: green;
    height: 28rem;
}

/* ---------------------------------------------- */

/* Footer */
#footer-cont {
    background-color: gray;
    height: 4.375rem;
}